body {
	margin: 0;
	padding: 0;
	color: white;
	background-image: url(../image/static.gif);
}

.splash {
	width: 550px;
	height: 150px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.splash .tilde-ring {
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
	transform-origin: center center;
}
.splash:hover .tilde-ring {
	transform: rotate(380deg) scale(1.7, 2.5);
}
